.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.freelanceTitle {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 717px) {
    .freelanceTitle {
        justify-content: center;
    }
}