.headerContainer {
  /* width: 75%; */
  /* max-width: 755.35px; */
  max-width: 100%;
  gap: 14.4rem;
  display: flex;
  align-items: inherit;
  text-align: justify;
  height: 0px auto;
}

.headerContainer > span {
  display: flex;
  gap: 10px;
  align-items: inherit;
}

.imageContainer {
  /* margin-top: 10px; */
  width: 100%;
  height: 13.0rem;
  width: 13.0rem;
  min-height: 13.0rem;
  min-width: 13.0rem
}

.imageContainer > div {
  position: unset !important;
}

.image {

  width: 100% !important;
  position: relative !important;
  height: unset !important
}

.profile {
  width: auto;
  height: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: baseline;
  align-content: center;
}

.profile > span:first-child {
  font-size: 3.4rem;
  color: #3b3c3e
}

.about {
  font-size: 1.6rem;
  color: #5F6368;
}

.mobileLink {
  display: none
}

.desktopLink {
  display: flex;
  align-self: end;
}

@media (max-width: 890px) {
  .imageContainer {
    height: 16.8rem;
    width: 16.8rem;
    min-height: 16.8rem;
    min-width: 16.8rem;
  }

  /* .headerContainer {
    height: 16.8rem;
    width: 16.8rem;
    min-height: 16.8rem;
    min-width: 16.8rem;
    max-width: 82%;
    flex-direction: column;
    gap: 1rem
  } */

  .mobileLink {
    display: flex
  }

  .desktopLink {
    display: none
  }
}

@media (max-width: 775px) {
  .imageContainer {
    height: 16.8rem;
    width: 16.8rem;
    min-height: 18.8rem;
    min-width: 18.8rem;
  }
}

@media (max-width: 765px) {
  .headerContainer {
    width: 97%;
    align-items: center;
    flex-direction: column;
  }

  .headerContainer > span {
    flex-direction: column;
  }

  .imageContainer {
    max-height: 16.0rem;
    max-width: 16.0rem;
    min-height: 20.0rem;
    min-width: 20.0rem
  }

  .profile {
    align-items: center
  }

}