.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}

 .main {
  padding: 5rem 0;
  width: 91.4rem;
  max-width: 82%;
  flex: 1;
  padding-top: 73.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem
}

.sliders {
  display:flex;
  flex-direction: column;
  max-width: 100%;
  gap: 6rem
}

/* @media (max-width: 890px) {
  .sliders {
    max-width: 82%;
  }
} */

@media (max-width: 717px) {
  .sliders {
    align-items: center;
  }
}

@media (max-width: 765px) {
  .main {
    padding-top: 94.3rem
  }
}

@media (max-width: 404px) {
  .main {
    padding-top: 102.3rem
  }
}