.socialLink {
  height: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 4px;
  align-items: baseline;
  background: #fff;
}

.socialLink > a, .icon-link {
  color: #383a3c;
}

.socialLink > a {
  display: flex;
  align-items: last baseline;
  align-self: flex-start;
  gap: 0.8rem;
  width: max-content;
}

@media (max-width: 890px) {
  .socialLink {
    flex-direction: row;
  }
}

@media (max-width: 765px) {
  .socialLink {
    gap: 1.6rem;
  }
  .socialLink > a {
    font-size: 1.7rem;
  }
}

@media (max-width: 404px) {
  .socialLink {
    gap: 5rem;
  }
  .socialLink > a > span {
    display: none
  }
}